<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error {{.StatusCode}}</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="app.js" defer></script>
	<link rel="icon" type="image/png" href="assets/favicon.png">
</head>

<body>
	<div class="container">
		<div class="page-content">
			<a href="/" class="home-link">
				<h1><img src="assets/favicon.png">BrickIntersect</h1>
			</a>
			<h2>Error {{.StatusCode}}: {{.Title}}</h2>
            <p>{{.Message}}</p>

			<center>
				<img src="https://http.cat/{{.StatusCode}}" alt="Error {{.StatusCode}}" class="error-image">
				<br>
				<button class="btn-primary" onclick="history.back()">Try again</button>
			</center>
		</div>
	</div>
</body>
</html>
