<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BrickIntersect</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="app.js" defer></script>
	<link rel="icon" type="image/png" href="assets/favicon.png">
</head>

<body>
	<div class="container">
		<div class="page-content">
			<a href="/" class="home-link">
				<h1><img src="assets/favicon.png">BrickIntersect</h1>
			</a>
			<div class="results-header">
				<h2>Results</h2>
				<button class="btn-primary" onclick="history.back()">Back</button>
			</div>
			<p>{{.Comment}}</p>
			<br>
			<div class="results-grid">
				{{range .Results}}
				<div class="result-card">
					<a href="{{.BricklinkUrl}}" target="_blank">
						<h3>{{.SetNum}}: {{.Name}}</h3>
						<img src="{{.SetImgUrl}}" alt="{{.Name}}">
					</a>
				</div>
				{{end}}
			</div>
		</div>
	</div>
</body>
</html>
